.messenger {
    height: calc(100vh - 70px);
    display: flex;
  }
  
  textarea{
    resize: none;
  }

  .chatMenu {
    flex: 3.5;
  }

  .convs{
    background-color: lightgray;
    height: 89vh;
    /* border: 2px rgb(165, 165, 165) solid; */
    border-radius: 10px;
  }
  
  .chatMenuInput {
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
  }
  
  .chatBox {
    flex: 5.5;
    background-color: gray;
    margin-top: 10px;
    max-height: 89vh;
    background-image: url("https://i.pinimg.com/736x/8c/98/99/8c98994518b575bfd8c949e91d20548b.jpg");
    border-radius: 10px;
    border-top: 0;

  }
  
  .chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
  }
  
  .chatBoxTop {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
  }
  
  .chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .chatMessageInput {
    width: 82.5%;
    height: 40px;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: large;
  }
  
  .chatMessageInput textarea :focus{
    border: 2px solid #1877f2;
    border-color: #1877f2;
  }


  .chatSubmitButton {
    position: relative;
    left: -10px;
    top: -10px;
    width: 70px;
    height: 50px;
    border: 2px solid #1877f2;
    border-radius: 25px;
    cursor: pointer;
    background-color: #1877f2;
    color: white;
  }

  .chatBoxBottom button:hover{
    background-color: white;
    color: #1877f2;
    border: 2px solid #1877f2;
    font-weight: 500;
  }

  .chatBoxBottom button{
    transition: all ease-in-out 0.3s;
  }
  
  .chatOnline {
    flex: 3;
    background-color: lightgray;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    max-height: 89vh;
    border-radius: 10px;
  }
  
  .chatMenuWrapper{
    overflow-y: visible;
  }

  .chatMenuWrapper,
  .chatBoxWrapper,
  .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
  }
  
  .noConversationText {
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    font-size: 40px;
    color: gray;
    cursor: default;
  }
  
  @media screen and (max-width: 768px) {
    .chatMenu {
      flex: 1;
    }
  
    .chatMenuInput {
      display: none;
    }
  
    .chatBox{
      flex: 10;
    }
  
    .chatOnline{
      flex: 1px;
    }
  }
  
  .selectedUser{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 23px;
    padding-left: 15px;
    position: absolute;
    z-index: 1;
    height: 4rem;
    /* width: 640px; */
    /* background: lightgray; */
    background-color: rgb(103, 103, 103);
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-bottom: rgb(165, 165, 165) 3px solid; */
    width: 44.2%;
    margin: auto;
  }

  .msgBox{
    margin-top: 70px;
  }