.topbarContainer {
    height: 70px;
    width: 100%;
    background-color: #11009E;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .topbarLeft {
    flex: 3;
  }
  
  .logo {
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }
  
  .topbarCenter {
    flex: 5;
  }
  
  .searchbar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
  }
  
  .searchIcon {
    font-size: 20px !important;
    margin-left: 10px;
  }
  
  .searchInput {
    border: none;
    width: 96%;
    margin-left: 10px;
  }
  
  .searchInput:focus {
    outline: none;
  }
  
  .topbarRight {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: right;
    color: white;
  }
  
  .topbarLink {
    margin-right: 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 20px;
    border: 2px solid #11009E;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
    color: #11009E;
    transition: all ease-in-out 0.3s;
  }

  .topbarLinks :hover{
    background-color: #11009E;
    color: white;
    border: 2px solid white;
  }
  
  .topbarIcons {
    display: flex;
  }
  
  .topbarIconItem {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .topbarIconBadge {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }
  
  .topbarImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px)  {
    .topbarLink{
      display: none;
    }
  }