.prof-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    align-self: center;
    justify-content: center;
  }
  
  .profImg {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid gray;
  }

  .otherProfile{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
  }