.input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0px 5px; */
    width: 300px;
    height: 50px;
    margin: auto;
    font-size: large;
    border: none;
    border-bottom: 2px solid #086ef5;
    outline: none;
    background-color: whitesmoke;
    margin-bottom: 40px;
}

.addconvMain{
    width: 410px;
    margin: auto;
    padding-top: 50px;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.addButton{
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: #4942E4;
    color: aliceblue;
    border: 2px solid #4942E4;
    cursor: pointer;
    font-weight: 600;
    transition: all ease-in-out 0.35s;
}

.addButton:hover{
    background-color: aliceblue;
    color: #4942E4;
    border-radius: 10px;
}

.backButton{
    height: 40px;
    width: 120px;
    border-radius: 30px;
    color: #4942E4;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border: 2px solid #4942E4;
    transition: all ease-in-out 0.35s;
}

.backButton:hover{
    background-color: #4942E4;
    color: aliceblue;
    border-radius: 10px;
}